
.content-form
{
    background: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}


.content-form label
{
    color:#fff;
}
h3{
    color: #fff;
}
.image
{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(/assets/img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover; 
    
}
