
<nav class="navbar navbar-expand-sm  navbar-light header sticky-top">
    <ul class="navbar-nav">
        <li>
            <a href="navbar-brand" href="#">
                <img src="/assets/img/logo.webp" alt="" width="100" height="40">
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link Dark link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="register" routerLinkActive="active" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a routerLink="tourist-list" routerLinkActive="active" class="nav-link">View</a>
        </li>
    </ul>
</nav>

                                                            
<div>
<router-outlet></router-outlet>
</div>
<!--<footer class="footer bg-primary">
    
    <div class="container align-item-center">
        <span class="align-middle">All Rights reserved 2022 @Mindtree</span>
    </div>
</footer>-->
